* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0.7rem;
}

::-webkit-scrollbar-thumb {
    background: rgb(100, 100, 100);
    background-clip: content-box;
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
    border-image: initial;
}

::-webkit-scrollbar-track {
    background: #272822;
}

:root {
    --bg-color: #272822;
    --nav-bg-color: #333;
    --text: #f3ffff;

}

/* Mobile */
@media (max-width: 768px) {

    #home {
        flex-direction: column;
        align-items: center;
    }

    .main_info {
        flex-direction: column;
        align-items: center;
    }
}

html {
    scroll-behavior: smooth;
    height: 100%;
    scroll-padding-top: 80px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

button {
    border: none;
    outline: none;
}

ul {
    list-style: none;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}


header {
    background: var(--bg-color);
    position: fixed;
    height: 80px;
    width: 100%;
    top: 0;
    z-index: 1;
}

.bar {
    width: 28px;
    height: 15px;
    background-color: #fefefe;
    transition: 0.5s ease-in-out;
    margin: 5px auto;
}

nav {
    display: flex;
    height: 100%;
    margin-right: calc(100vh - 55%);
    justify-content: center;
    align-items: center;
}

nav ul {
    display: flex;
    width: 50%;
    font-weight: bold;
    padding: 60px;
}

nav ul li {
    text-align: center;
    width: 20%;
    margin: 15px;
}

nav ul li a {
    border-radius: 25px;
    display: block;
    color: var(--text);
    padding: 10px;
    background-color: var(--nav-bg-color);
    background-position: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, .4);
}

nav ul li a:hover {
    background: linear-gradient(to right, #1570ad 40%, var(--nav-bg-color) 60%);
    background-size: 220%;
    transition: 0.6s;
}

main {
    margin-top: 80px;
    min-height: calc(100vh - 80px);
}

#home {
    background: var(--bg-color);
    min-height: calc(100vh - 80px);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_info {
    width: 70%;
    display: flex;
    justify-content: space-between;
}

#theme {
    top: 10px;
    left: 10px;
    padding: 10px;
    background: var(--nav-bg-color);
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    border-radius: 20px;
    cursor: pointer;
}

.changeTheme[data-theme="light"] {
    fill: #c5be38;
}

.changeTheme[data-theme="dark"] {
    fill: #c0bebe
}

.changeTheme[data-theme="light"]:hover {
    fill: #ffff00
}

.changeTheme[data-theme="dark"]:hover {
    fill: #f5f5f5
}

.logo_img {
    transform: rotateZ(7deg);
    user-select: none;
}

.title {
    font-size: 32px;
    font-family: monospace;
    font-weight: bold;
    color: var(--text);
    text-align: center;
    line-height: 70px;
}

.info {
    width: 380px;
    color: #787878;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 18px;
    line-height: 25px;
}

.button {
    cursor: pointer;
    font-size: 30px;
    background: #1570ad;
    padding: 10px 30px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    transition: 1s ease;
    color: var(--text);
    display: flex;
    margin: 0 auto;
    margin-top: 50px;
}

.button:hover {
    background-color: #1F9CF0;
}

#about {
    min-height: 500px;
    background: #2D2E2A;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about div {
    display: flex;
}

#info_abt {
    text-align: center
}

#about img {
    margin: 4rem auto 0;
}

#languages_pg {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 60px;
    background: #3A3A3A;
    padding: 100px 0;
}

#languages_pg .logos {
    max-width: 220px;
    text-align: center;
    margin: 0px auto;
}

#languages_pg img {
    width: 52px;
    filter: invert(48%) sepia(7%) saturate(349%) hue-rotate(54deg) brightness(94%) contrast(88%);
}

#languages p {
    color: var(--text);
}

#languages p:first-of-type {
    font-family: Montserrat, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    line-height: 35px;
}

#languages p:last-of-type {
    font-family: "Nunito Sans", sans-serif;
}

#contact {
    min-height: 751px;
    background: #404040;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
}

#contact .div:first-of-type {
    max-width: 535px;
    padding: 20px 0;
}

#contact .div:last-of-type {
    max-width: 670px;
    margin: 0 20px;
}

#contact .info {
    text-align: center;
    letter-spacing: 1px;
}

#contact div input,
textarea {
    margin-bottom: 30px;
    padding-left: 20px;
    border: none;
    background: #222222;
    color: var(--text)
}

form,
textarea {
    margin: 3% auto;
}

#fname,
#email {
    width: 320px;
    height: 48px;
    border-radius: 20px;
}

#email {
    margin-left: 5px;
}

#topic,
#comm {
    width: 100%;
    height: 48px;
    border-radius: 20px;
}

#comm {
    height: 170px;
}

textarea {
    resize: none;
    border: none;
    padding: 15px 20px;
}

#contact .button {
    margin-top: 0px;
}

footer {
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
}

footer .social_buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 6px;
}

#copy {
    display: flex;
    align-items: center;
    color: #787878;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    color: var(--text);
    font-size: 1.5rem;
    border-radius: 50%;
    transition: all 0.5s ease;
}

.social-button:hover {
    transform: rotate(360deg);
}

.social-button.github {
    background: var(--nav-bg-color);
}

.social-button.github:hover {
    color: var(--nav-bg-color);
    background: #fefefe;
    border-color: var(--nav-bg-color);
}

.social-button.instagram {
    background: rgb(225, 48, 108, 0.906);
}

.social-button.instagram:hover {
    color: rgb(225, 48, 108, 0.906);
    background: var(--text);
    border-color: rgb(225, 48, 108, 0.906);
}

.loading {
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    position: fixed;
}

.loading>div {
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    top: 50%;
    margin-top: -30px;
}

.loading div div {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    background: #1F9CF0;
    top: 10px;
    left: 10px;
    transform-origin: 20px 20px;
    border-radius: 8px;
    animation: spin-a 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}

.loading div .c2 {
    top: 10px;
    left: auto;
    right: 10px;
    transform-origin: -4px 20px;
    animation: spin-b 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}

.loading div .c3 {
    top: auto;
    left: auto;
    right: 10px;
    bottom: 10px;
    transform-origin: -4px -4px;
    animation: spin-c 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}

.loading div .c4 {
    top: auto;
    bottom: 10px;
    transform-origin: 20px -4px;
    animation: spin-d 2s infinite cubic-bezier(0.5, 0, 0.5, 1);
}

@keyframes spin-a {
    0% {
        transform: rotate(90deg);
    }

    0% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin-b {
    0% {
        transform: rotate(90deg);
    }

    25% {
        transform: rotate(90deg);
    }

    25% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin-c {
    0% {
        transform: rotate(90deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(270deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin-d {
    0% {
        transform: rotate(90deg);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(270deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}